*{
     padding: 0;
     margin: 0;
     text-align: center;
     /* border: 2px solid black; */
     text-decoration: none;
     line-height: 2;
     font-size: 1vw;
     list-style: none;
     font-family: 'Ubuntu', sans-serif;
}
.navbar{
     /* justify-content: center; */
     margin: 2vw;
     display:flex;
     
}
.logo {
     text-align: center;
     width: 20%
}
.logo img{
     width: 20%;
}
.navlist{
     align-items: center;
     justify-content: center;
     width: 60%;
     display:flex;
}
.navlist li{
     padding: 2vw ;
}
.navlist li a{
     font-size:  1.2vw;
     color: black;
}
.navlist li a:hover{
     color: rgb(120, 15, 255);
}
.navbutton{
     text-align: center;
     width: 20%;
     padding: 2vw;
}
.button{
     font-size: 1.2vw;
     padding: 0.5vw 1.5vw;
     margin-top: 1vw;
     color: rgb(120, 15, 255);
     border:2px solid rgb(120, 15, 255);
     border-radius: 10vw;
     background-color: transparent;
}
.button:hover{
     background-color:rgb(120, 15, 255);
     color: white;
}
.title{
     font-weight: 800;
     line-height: 2;
     font-size: 2vw;
}
.subtitle{
     font-size: 1.2vw;
     font-weight: 100;
}
.avatar{
     width: 10%;
     margin-top: 5vw;
}
.laptop{
     width: 50%;
     /* height: 20vw; */
     margin-top: 1vw;
}
.section2{
     background-color: rgb(120, 15, 255);
     padding: 2vw 2vw 8vw;
     color: white;
}
.title2{
     font-weight: 300;
     line-height: 3;
     font-size: 2vw;
}
.subtitle2{
     font-weight: 100;
     line-height: 2;
     font-size:  1.2vw;
}
.skill{
     border-radius: 1vw;
     display: flex;
     border: 1px solid #e6ecf8b7;
     background-color: white;
     margin-top: -6vw;
     line-height: 1vw;
     margin-left: 15vw;
     margin-right: 15vw;
     padding: 3vw;
}
.skill img{
     width: 4vw;
}
.designer{
     border-right: 1px solid #e6ecf8b7;
}
.web{
     border-right: 1px solid #e6ecf8b7;
}
.primary{
     margin-top: 2vw;
     font-size: 1.2vw;
     color: rgb(120, 15, 255);
}
.projectinfo{
     margin: 3vw;
}
.title3{
     font-weight: 600;
     line-height: 2;
     font-size: 2vw;
}
.section4{
     padding: 1vw;
}
.section4 img{
     width: 25vw;
     height: 15vw;
}
.subtitle3{
     font-weight: 100;
     font-size: 1.2vw;
}
.project{
     display: flex;
     overflow-x:auto;
}
.project::-webkit-scrollbar{
     width: 0;
}
.button4{
     font-size: 1.2vw;
     padding: 0.5vw 2vw;
     margin-top: 1vw;
     color: rgb(120, 15, 255);
     border:1px solid rgb(120, 15, 255);
     border-radius: 10vw;
     background-color: transparent;
}
.button4:hover{
     background-color:rgb(120, 15, 255);
     color: white;
}
.section5{
     background-color: rgb(120, 15, 255);
     padding: 2vw 2vw 8vw;
     color: white;
}
.section6{
     margin-bottom:2vw ;
     padding-bottom: 3vw;
     border-bottom: 1px solid #e6ecf8b7;
}
.blog{
     display: flex;
     margin-top: -7vw;
     line-height: 1vw;
     margin-left: 10vw;
     margin-right: 10vw;
     overflow-x:auto;
}
.blog::-webkit-scrollbar{
     width: 0;
}
.blogpost{
     padding: 1vw;
     border: 1px solid #e6ecf8b7;
     background-color: white;
     border-radius: 1vw;
     margin: 1vw;
}
.button5{
     background: transparent;
     color:rgb(120, 15, 255);
     border: 0;
     margin: 1vw;
     /* padding: .5vw; */
}
.button5:hover{
     color: gray;
     font-size: 1.2vw;
}
.blogpost img{
     width: 8vw;
     margin: .5vw 5vw;
}
.section7{
     margin: 1vw;
}
.section8{
     padding: 1vw;
     /* padding-top: 10vw; */
     margin-top: 1vw;
     border-top: 1px solid #e6ecf8b7;
}
.section8 div{
     padding: 1vw;
}
.internship{
     margin-right: 2vw;
     margin-left: 2vw;
     display: flex;
     justify-content: center;
}
.internship img{
     width: 150px;
     margin: 1vw;
     /* width: 20%; */
     /* height: 15vw; */
}
.section9{
     display:inline-flex;
     color: white;
     background-color: rgb(50, 5, 100);
     padding: 1vw;
     border-radius: 1vw;
     margin-left: 10vw;
     margin-right: 10vw;
     margin-bottom: -5vw;
}
.section9 div{
     margin: 3vw;
}
.button2{
     font-size:  1.2vw;
     padding: 0.5vw 2vw;
     margin-top: 1vw;
     color: rgb(120, 15, 255);
     border:1px solid rgb(120, 15, 255);
     border-radius: 10vw;
     background-color: transparent;
}
.section9 button{
     font-size:  1.2vw;
     border: 2px solid rgb(120, 15, 255);
     border-radius: 10vw;
     padding:0.5vw 2vw;
     background-color: transparent;
     color: white;
}
.section9 button:hover{
     color: white;
     background-color: rgb(120, 15, 255);;
}
footer{
     background-color: rgb(120, 15, 255);
     padding: 5vw 2vw 2vw;
     color:#363636;
}
footer label{
     font-size: 1vw;
     line-height: 1vw;
}
footer a{
     font-size: 0.8vw;
     color:#363636;
     
}
.middle{
     border-left:#363636bd solid 1px;
     border-right:#363636a6 solid 1px;
}
.footer{
     justify-content: center;
     display: flex;
     margin-top: 1vw;
     margin-left: 2vw;
     margin-right: 2vw;
}
.footer div{
     margin-left: 1vw;
     margin-right: 1vw;
     padding-left: 5vw;
     padding-right:5vw;
}
.sociallogo{
     display: inline-flex;
     padding: 1vw;
     margin: 1vw;
     margin-top: 1vw;
}
.sociallogo a{
     margin: 1vw;
}
.title4{
     font-weight: 200;
     font-size: 2vw;
     padding: 2vw;
}
.buttoncircle:hover{
     background-color:white;
     color: rgb(120, 15, 255);
     
}
.image{
    position: relative;
    width: 25vw;
    height: 15vw;
    margin: 1vw;
    border-radius: 10vw;
}
.image-img{
     display: block;
     border-radius: 1vw;
    }
.image-overlay{
     border-radius: 1vw;
     position:absolute;
     width: 25vw;
     height: 15vw;
     top: 0;
     left: 0;
     background: rgb(28, 3, 56);
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 0;
     transition:1s;
}
.image-overlay:hover{
     opacity: 1;
     transition: 1s;
}
.image-title{
     padding: 1vw;
     font-size: 1.2vw;
     font-weight: 800;
}

@media screen and (max-width: 767px){
     *{
          margin: 0;
          padding: 0;
     }
     .burger p{
          background-color: rgb(120, 15, 255);
          width:  5vw;
          margin:  0.8vw;
          height:  0.6vw;
     }
     .vclass{
          visibility: hidden;
     }
     .hclass{
          height: 0vw;
     }
     .navlist {
          flex-direction: column;
     }
     .logo{
          text-align: right;
     }
     .skill{
          flex-direction: column;
     }
     .android{
          border-top: 1px solid #e6ecf8b7;
          border-right: none;
          padding-top: 2vw;
     }
     .designer{
          border-right: none;
     }
     .web{
          border-top: 1px solid #e6ecf8b7;
          border-right: none;
          padding-top: 2vw;
     }
     
}